@import 'tailwindcss';

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #080810;
}

::-webkit-scrollbar-thumb {
  background: #5b21b6;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a78bfa;
}

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'DM Mono', monospace;

  --color-bg: #080810;
  --color-surface: #0f0f1a;
  --color-surface-hover: #16162a;
  --color-border: #2a2a3d;
  --color-border-hover: #3d3d5c;
  --color-text: #f3f4f6;
  --color-muted: #6b7280;
  --color-accent: #a78bfa;
  --color-accent-dim: #7c3aed;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-text);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  background: #080810;
}

::selection {
  background: var(--color-accent-dim);
  color: #080810;
}